*{
    box-sizing: border-box;
    margin: 0;
}

body, span, section{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS';
}
/* INDEX */
header{
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
header .content, main .content{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 20px;
}

.bx{
    font-size: 30px;
}

section{
    display: block;
}

.section1 .content{
    background-color: #4158D0;
    background-image: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: Gcolor 12s ease-in-out infinite;
}

@keyframes Gcolor{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.logo, .footer-subfooterLogo{
    display: inline;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu_bar{
    padding: 0 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul .menuList-subItem{
    padding: 20px 30px;
}
.menu_bar ul .menuList-subItem a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
}

.menu_bar ul .menuList-subItem a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

#appareanceB {
    width: 25px;
    margin-right: 20px;
}

.welcomeSection{
    display: grid;
    text-align: center;
    padding: 200px 50px;
    font-size: 40px;
    place-items: center;
}

.content p{
    font-family: 'gilroy', Arial, sans-serif;
    text-align: justify;
}

.container-updates{
    display: flex;
}

.section2 .content, .section3 .content, .section4 .content{
    padding: 80px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2 .sectionFigure{
    margin: 0;
    width: calc(40% - 40px);
}
.section2 .sectionText{
    width: calc(50% - 40px);
}

.section3 #updates-header{
    margin: 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.section3 {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.section3 .sectionText{
    width: calc(50% - 40px);
    font-size: 30px;
}

.section3 .sectionFigure{
    margin: 0;
    width: calc(40% - 40px);
}

.section3 p, .section3 h2, .section4 p, .section4 h2{
    text-align: left;
    color: #FFFFFF;
}
.section3 h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}

.section4{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.section4 .sectionText{
    width: calc(40% - 40px);
    font-size: 30px;
}

.section4 .sectionFigure{
    width: calc(60% - 40px);
}

#codeimg{
    border-radius: 8px;
}

.section2 .content h2, .section2 p{
    color: #222;
}

.site-container h2{
    margin-bottom: 20px;
    line-height: 1.3em;
    font-size: 35px;
}

.site-container p{
    font-size: 24px;
    line-height: 1.5em;
}
/* footer */
footer{
    background-color: #F1F1F1;
    color: #515151;
    padding: 40px 0;
}

.footer-subfooter{
    border-top: 1px dashed #999;
    padding-top: 40px;
}
.footer-subfooter p{
    margin-top: 20px;
    font-size: 15px;
}

footer .content{
    max-width: 1224px;
    margin: 0 auto;
}
