*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS';
    transition: background-color 1s ease;
}
header{
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.content{
    max-width: 1224px;
    margin: 0 auto;
}
.logo a{
    display: inline;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}

.menu_bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 1s ease;
}

.menu_bar ul{
    
    list-style: none;
    display: flex;
}
.menu_bar ul .menuList-subItem{
    padding: 20px 30px;
}
.menu_bar ul .menuList-subItem a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
}

.menu_bar ul .menuList-subItem a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

#appareanceB {
    width: 25px;
    margin-right: 20px;
}

.welcomeSection{
    text-align: center;
    margin: 100px;
    font-size: 40px;
}