*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS';
    transition: background-color 1s ease;
}
/* INDEX */
header{
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
header .content, main .content{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo, .footer-subfooterLogo{
    display: inline;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu_bar{
    padding: 0 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_bar ul{
    
    list-style: none;
    display: flex;
}
.menu_bar ul .menuList-subItem{
    padding: 20px 30px;
}
.menu_bar ul .menuList-subItem a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
}

.menu_bar ul .menuList-subItem a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

#appareanceB {
    width: 25px;
    margin-right: 20px;
}

.welcomeSection{
    text-align: center;
    margin: 100px;
    font-size: 40px;
}

/* footer */
footer{
    background-color: #F1F1F1;
    color: #515151;
    padding: 40px 0;
}

.footer-subfooter{
    border-top: 1px dashed #999;
    padding-top: 40px;
}
.footer-subfooter p{
    margin-top: 20px;
    font-size: 15px;
}

footer .content{
    max-width: 1224px;
    margin: 0 auto;
}